html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TTLakes-Regular';
    background-color: #F8F8F8;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Bold';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

.typography-regular {
    font-family: 'TTLakes-Regular';
}

.typography-medium {
    font-family: 'TTLakes-Medium';
}

.typography-bold {
    font-family: 'TTLakes-Bold';
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 18.59px 0;
    background-color: #FFFFFF;
}

.header__list {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.header__list--contacts {
    display: none;
}

.header__list--help {
    padding-right: 16px;
}

.header__item {
    margin-left:16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.button:hover {
    cursor: pointer;
    background-color: deepskyblue;
}

.header__item--repair {
    position: relative;
    margin-left: 42px;
}

.header__item--repair::before {
    content: "";    
    display: block;
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 5px;
    position: absolute;
    left: -22px;
    top: 5px;
}


/*main*/

.title {
    display: flex;
    align-items: center;
}

.main__title {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-left:16px;
}

.title__checkstatus {
    display: none;
}

.title__description {
    position:relative;
    font-size: 28px;
    line-height: 40px;
}

.title__description::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
    margin-right: 12px;
    left: -16px;
}

.title__list {
    display: none;
}

/* main nvaigation */

.page-nav {
    display: flex;
    width: 100%;
}

.page-nav__item {
    white-space: nowrap;
    padding: 8px 0px;
}

.page-nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow:hidden;
    overflow-x:scroll;
    margin-left: 16px;
    margin-top: 24px;
}

.page-nav__link {
    text-decoration: none;
    padding: 8px 15px ;
    color:#7E7E82;
}

.page-nav__link--active {
    display: flex;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}

/* section */
.main__about {
    margin-top: 32px;
    margin-left: 16px;
}

.about__description {
    padding-right: 36px;
}

.about__company {
    margin-left: auto;
    padding-right: 10px;
}

.about__button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #F8F8F8;
    text-decoration: none;
    margin-top: 16px;
}

.about__button:hover {
    background-color: #7E7E82;
    cursor: pointer;
}

.about__see-more {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-left: 8px;
}

.about__image {
    width: 100%;
    height: auto;
}

.about__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.about__text--m {
    display: none;
}

.about__text--l {
    display: none;
}

@media (max-width: 550px) {
    .about__company {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 550px) {
    .header__item--menu {
        position: relative;
    }
    
    .header__item--menu::after {
        content: "";    
        display: block;
        background-color: #EAEAEA;
        height: 32px;
        width: 2px;
        border-radius: 5px;
        position: absolute;
        right: -22px;
        top: 5px;
    }

    .header__item--logo {
        margin-left: 42px;
    }

    .about {
        display: flex;
    }

    .header__list--contacts {
        display: flex;
        margin-left: auto;
    }

}

@media (min-width: 768px) {
    .header__list--contacts {
        display: flex;
        margin-left: auto;
    }

    .title__description::before {
        left: -24px;
    }

    .main__title {
        margin-left: 24px;
    }

    .page-nav__list {
        margin-left: 24px;
    }
    
    .about {
        display: flex;
    }

    .main__about {
        margin-left: 24px;
    }

    .about__text--m {
        margin-top: 16px;
        display: block;
    }
}

@media (min-width: 1120px) {

    .header {
        display: none;
    }

    .title__description::before {
        left: -32px;
    }

    .main__title {
        margin-top: 42px;
        margin-left: 32px;
    }

    .title__checkstatus {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 32px;
    }

    .title__description::before {
        margin-right: 30px;
    }

    .title__list {
        display: flex;
        justify-content: end;
        list-style-type: none;
        padding-right: 32px;
    }
    
    .title__item {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }

    .title__button {
        margin-left: 8px;
    }

    .button__description {
        border: none;
        background-color: #F8F8F8;
    }

    .button__text {
        font-size: 16px;
        line-height: 24px;
    }
    
    .button__description:hover {
        cursor: pointer;
        background-color: #7E7E82;
    }

    .page-nav__list {
        margin-left: 32px;
    }

    .main__about {
        margin-left: 32px;
    }

    .about__description {
        font-size: 16px;
        line-height: 24px;
    }

    .about__text-m {
        display: block;
        margin-top: 16px;
    }
    .about__text--l {
        margin-left: 0;
        display: inline;
    }
    
    .page-nav__list {
        flex-wrap: wrap;
    }
}



/* MENU */

.pop-up {
    display: block;
    width: 320px;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 10px 0 20px 0 #7E7E82;
}

.header-menu {
    display: flex;
    align-items: center;
    padding: 18px 24px;
}

.header-menu__list {
    display: flex;
    list-style: none;
    align-items: center;;
}

.header-menu__item--logo {
    margin-left: 16px;
}

.header-menu__button {
    position: relative;
    transition: all 0.5s ease;
    margin-left: auto;
}

.header-menu__button::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    top: 7px;
    left: 10px;
    opacity: 0;
    transition: 0.5s linear;
}

.header-menu__button:hover::before {
    transform: translate(26px, 12px) rotate(90deg);
    left: -3px;
    opacity: 0.5;
}

.header-menu__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    top: 29px;
    left: 10px;
    opacity: 0;
    transition: 0.5s linear;
}

.header-menu__button:hover {
    transform: scale(1.2);
    background-color: deepskyblue;
}

.header-menu__button:hover::after {
    transform: translate(0px, -10px) rotate(90deg);
    left: -3px;
    opacity: 0.5;
}

.menu-nav__list {
    list-style: none;
}

.menu-nav__item {
}

.menu-nav__link {
    display: block;
    text-decoration: none;
    color: #1B1C21;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    line-height: 24px;
}

.menu-nav__link:hover {
    background-color:deepskyblue;
    color: #7E7E82;
}

.menu-nav__link--active {
    position: relative;
    color: #7E7E82;
}

.menu-nav__link--active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
    left: 0;
    top: 14px;
}

.main-__nav-menu {
    margin-top: 16px;
}

.feedback-menu__nav {
    margin-top: 268px;
    padding-left: 24px;
    padding-bottom: 40px;
}

.feedback-menu__list {
    display: flex;
    list-style: none;
}

.feedback-menu__item:nth-child(2) {
    margin: 0 16px;
}

.feedback-menu__phone {
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
}

.feedback-menu__mail {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
}

.footer-menu__lang {
    margin-left: 24px;
    padding-bottom: 32px;
}

.footer-menu__list {
    display: flex;
    list-style: none;
}

.footer-menu__button {
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: 'TTLakes-Medium';
}

.footer-menu__button:hover {
    transform: scale(1.2);
    background-color: skyblue;
    border-radius: 50%;
    color: #7E7E82;
}

.footer-menu__button-active {
    color: #7E7E82;
}

.footer-menu__item:nth-child(2) {
    padding: 0 7px;
}