

@media (max-width: 768px) {
    .brands {
        height: 128px;
    }
}

@media (max-width: 768px) {
    .brands.brands-height {
        height: 208px;
    }
}

.brands__pagination.swiper-pagination {
    bottom: 0px;
}


.brands .brands__list {
    list-style-type: none;
}

@media (max-width: 768px) { 
    .swiper .swiper-wrapper {
        padding: 16px 0 0 16px;
    }
}



@media (max-width: 768px) {
    .swiper .swiper-pagination-bullet {
        background-color: #DDDDDD;
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 768px) {
    .swiper .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }
}

@media (min-width: 768px) {
    .brands__list {
        display: flex;
        flex-wrap: wrap;
    }

}

.brands .brands__list .brands__item {
    width: 240px;
}

@media (min-width: 768px) {
    .brands .brands__list .brands__item {
        width: 224px;
        height: 72px;
        padding: 0 0 16px 24px;
    }
}

@media (min-width: 1120px) {
    .brands .brands__list .brands__item {
        width: 240px;
        padding: 0 0 16px 32px;
    }
}



@media (min-width: 768px) {
    .brands .brands__list .brand-button__hide {
        display: none;
    }
}
@media (min-width: 768px) {
    .brands .brands__list .brand-button__hide-width {
        display: none;
    }
}

@media (min-width: 1016px) {
    .brands .brands__list .brand-button__hide-width {
        display: block;
    }
}

.section-brands, .section-repair, .section-price {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .section-brands, .section-repair, .section-price {
        margin-top: 32px;
    }
}

@media (min-width: 1120px) {
    .section-brands, .section-repair, .section-price {
        margin-top: 50px;
    }
}

.brands__item.brands__item-height.swiper-slide {
    height: 160px;
}

.brand-button.brand-button-height {
    height: 160px;
    align-items: start;
}

.brand-button__description {
    margin-top: 16px;
}

.button__dropdown {
    margin-top: 98px;
}

.brands-active .brands__list .brand-button__hide {
    display: block;
}

