@import "aside.css";
@import "brands.css";
@import "brand-button.css";
@import "popup-button.css";
@import "section-title.css";
@import "fonts.css";
@import "price.css";
@import "footer.css";
@import "modal.css";
@import "~normalize.css";

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'TTLakes-Regular';
  background-color: #F8F8F8;
}



::-webkit-scrollbar {
  display: none;
}



/*header*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 18.59px 0;
  background-color: #FFFFFF;
}

.header__list {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.header-contacts {
  display: none;
}

.header__list--help {
  padding-right: 16px;
}

.header__item {
  margin-left:16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-background {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF3E79;
}

.button:hover {
  cursor: pointer;
  box-shadow: -1px 2px 2px 2px #7E7E82;
}

.header__item--repair {
  position: relative;
  margin-left: 42px;
}

.header__item--repair::before {
  content: "";    
  display: block;
  background-color: #EAEAEA;
  height: 32px;
  width: 2px;
  border-radius: 5px;
  position: absolute;
  left: -22px;
  top: 5px;
}


/*main*/

.title {
  display: flex;
  align-items: center;
}

.main__title {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left:16px;
}

.title__checkstatus {
  display: none;
}

.title__description {
  position:relative;
  font-size: 28px;
  line-height: 40px;
}

.title__description::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 4px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
  margin-right: 12px;
  left: -16px;
}

.title__list {
  display: none;
}

/* main nvaigation */

.page-nav {
  display: flex;
  width: 100%;
}

.page-nav__item {
  white-space: nowrap;
  padding: 8px 0px;
}

.page-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow:hidden;
  overflow-x:scroll;
  margin-left: 16px;
  margin-top: 24px;
}

.page-nav__link {
  text-decoration: none;
  padding: 8px 15px ;
  color:#7E7E82;
}

.page-nav__link--active {
  display: flex;
  border: 2px solid #B8FFEC;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.page-nav__link:hover {
  border: 2px solid #B8FFEC;
  border-radius: 5px;
  background-color: #FFFFFF;
}



/* section */
.main__about {
  margin-top: 32px;
  margin-left: 16px;
}

.about__description {
  padding-right: 36px;
}

.about__company {
  margin-left: auto;
  padding-right: 10px;
}

.about__button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #F8F8F8;
  text-decoration: none;
  margin-top: 16px;
}

.about__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about__see-more {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  margin-left: 8px;
}

.about__image {
  width: 100%;
  height: auto;
}

.about__text {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.about__text--m {
  display: none;
}

.about__text--l {
  display: none;
}

@media (max-width: 550px) {
  .about__company {
      margin-top: 16px;
      display: flex;
      justify-content: center;
  }
}

@media (min-width: 550px) {
  .header__item--menu {
      position: relative;
  }
  
  .header__item--menu::after {
      content: "";    
      display: block;
      background-color: #EAEAEA;
      height: 32px;
      width: 2px;
      border-radius: 5px;
      position: absolute;
      right: -22px;
      top: 5px;
  }

  .header__item--logo {
      margin-left: 42px;
  }

  .about {
      display: flex;
  }

  .header-contacts {
      display: flex;
      align-items: center;
      margin-left: auto;
      list-style: none;
  }

  .contacts__item {
      margin-left: 16px;
  }

}

@media (min-width: 768px) {

  .title__description::before {
      left: -24px;
  }

  .main__title {
      margin-left: 24px;
  }

  .page-nav__list {
      margin-left: 24px;
  }
  
  .about {
      display: flex;
  }

  .main__about {
      margin-left: 24px;
  }

  .about__text--m {
      margin-top: 16px;
      display: block;
  }
}

@media (min-width: 1120px) {

  .header {
      display: none;
  }

  .title__description::before {
      left: -32px;
  }

  

  .main__title {
      margin-top: 42px;
      margin-left: 32px;
  }

  .title__button-link {
      display: flex;
      align-items: center;
      text-decoration: none;
  }

  .title__button-link:hover {
      text-decoration: underline;
  }

  .title__button-link:hover button{
      cursor: pointer;
      box-shadow: -1px 2px 2px 2px #7E7E82;
      
  }

  .title__checkstatus {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 32px;
  }

  .title__description::before {
      margin-right: 30px;
  }

  .title__list {
      display: flex;
      justify-content: end;
      list-style-type: none;
      padding-right: 32px;
  }
  
  .title__item {
      display: flex;
      align-items: center;
      margin-left: 24px;
  }

  .title__button {
      margin-left: 8px;
  }

  .button__description {
      border: none;
      background-color: #F8F8F8;
  }

  .button__text {
      color: #1B1C21;
      font-size: 16px;
      line-height: 24px;
  }
  

  .page-nav__list {
      margin-left: 32px;
  }

  .main__about {
      margin-left: 32px;
  }

  .about__description {
      font-size: 16px;
      line-height: 24px;
  }

  .about__text-m {
      display: block;
      margin-top: 16px;
  }
  .about__text--l {
      margin-left: 0;
      display: inline;
  }
  
  .page-nav__list {
      flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {

  .main {
    display: flex;
  }
}
